
<input id="{{dobleCapturaCtrl.identificador}}"
	name="{{dobleCapturaCtrl.identificador}}"
	maxlength="{{dobleCapturaCtrl.maxlength}}"
	type="{{dobleCapturaCtrl.tipo}}" class="form-control input-md"
	tabindex="{{dobleCapturaCtrl.tabindex}}"
	ng-disabled="dobleCapturaCtrl.disabled"
	ng-show="dobleCapturaCtrl.visible" adea-capitaliza
	placeholder="{{dobleCapturaCtrl.placeholder}}" ng-model="valor"
	ng-blur="dobleCapturaCtrl.dobleCapturaEnter()"
	ng-keyup="($event.keyCode == 13 || $event.keyCode == 9)  && dobleCapturaCtrl.dobleCapturaEnter()"
	ng-required="{{dobleCapturaCtrl.required}}">



<script type="text/ng-template" id="modal.html">
<div class="modal-header">
	<h4 class="modal-title">Recaptura y preciona ENTER o ESC para regresar</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-8" ng-class="{'has-success': valor == recaptura, 'has-error': valor != recaptura}">
	    	<label class=" control-label">{{titulo}}</label>
	   		<input id="{{dobleCapturaCtrl.identificador}}DC"
				name="{{dobleCapturaCtrl.identificador}}DC" adea-capitaliza
				type="{{dobleCapturaCtrl.tipo}}" class="form-control input-md"
				placeholder="{{dobleCapturaCtrl.placeholder}}"
				ng-model="recaptura" tabindex="{{dobleCapturaCtrl.tabindex + 1}}"
				ng-keyup="$event.keyCode == 13 && modalCtrl.validaDobleCaptura()"
				ng-cut="$event.preventDefault()" 
				ng-copy="$event.preventDefault()"
			    ng-paste="$event.preventDefault()"
				ng-required="dobleCapturaCtrl.required">
		</div>
	</div>
</div>
</script>
