<div ng-if="detalleTicketCtrl.bbusquedaincorrecta" style="margin-top: 50px; text-align: center; ">
    <div class="borde_rojo">
        <p class="error_rojo">No se encontró el ticket {{detalleTicketCtrl.idticketbusqueda}}.</p>
    </div>
    <div style="margin-top: 40px;">
        <a style="cursor: pointer; font-size: 20px !important;"
           ng-click="detalleTicketCtrl.regresar()" title="Regresar"
           class="fa fa-mail-reply">Regresar</a> 
    </div>
</div>
<div ng-if="detalleTicketCtrl.bbusquedacorrecta" class="panel panel-default panel-primary">
    <div class="panel-heading" style="height: 35px;">

        <div class="panel-heading" style="height: 35px; margin-top: -12px;">
            <a
                style="color: white; padding-right: 29px; cursor: pointer; font-size: 20px !important;"
                ng-click="detalleTicketCtrl.regresar()" title="Regresar a Tickets"
                class="fa fa-mail-reply"></a> 
            Ticket:
            {{detalleTicketCtrl.miTicket.idTicket}}&nbsp;|&nbsp;
            {{detalleTicketCtrl.miTicket.resumen}}
        </div>
    </div>

    <div class="panel-body">
        <div class="row" ng-if="false">
            <div class="col-md-12">
                <label class="control-label">Resumen:</label> <br/> 
                <div class="borde_azul">
                    <label class="control-label label_detalle">{{detalleTicketCtrl.miTicket.descripcion}}</label>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <a style="font-size: 18px;" class="a_negro"
                   ng-click="detalleTicketCtrl.asignarTicket_action()">
                    <i style="font-size: 14px !important;" class="fa fa-arrow-circle-right"></i>
                    Asignar ticket
                </a>
            </div>
        </div>
        <asignar-ticket-dir ng-if="detalleTicketCtrl.basignarticket" 
                            idticket="detalleTicketCtrl.miTicket.idTicket"
                            asignar-ticket="detalleTicketCtrl.asignarTicket()">
        </asignar-ticket-dir> 
        
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12">
                <a style="font-size: 18px;" class="a_negro"
                   ng-click="detalleTicketCtrl.editarTicket_action()">
                    <i style="font-size: 14px !important;" class="fa fa-edit"></i>
                    Editar ticket</a>
            </div>
        </div>
        <editar-ticket ng-if="detalleTicketCtrl.beditarticket" 
                         idticket="detalleTicketCtrl.miTicket.idTicket"
                       modificar-ticket="detalleTicketCtrl.modificarTicket()"
                       basigna-usuario="detalleTicketCtrl.basignaUsuario">
        </editar-ticket>
                                    
    </div>

</div>
